body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  width: 100%;
}

.phone-container {
  width: 100vw;
  min-height: 100vh;
  background: white;
  overflow: hidden;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}

.top-section {
  height: 140px;
  background: #12c85a;
  position: relative;
}

.money {
  position: absolute;
  width: 55px;
  height: 28px;
  background: #22d96d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #0a602c;
  transform: rotate(-25deg);
}

.money-1 {
  top: 50px;
  left: 92px;
}

.money-2 {
  top: 168px;
  right: 50px;
}

.money-3 {
  top: 160px;
  left: 28px;
}

.money-4 {
  top: 90px;
  right: 50px;
}


.main-content {
  padding: 20px 24px 32px;
  text-align: center;
}

.welcome-text {
  margin: 20px 0 18px;
  font-size: 30px;
  font-family: 'DM Serif Display', serif;
  font-weight: 800;
  color: #111;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0 20px;
}

.logo-image {
  width: min(70vw, 300px);
  height: auto;
  object-fit: contain;
}

.title {
  margin: 16px 0 26px;
  line-height: 1;
}

.buddy-text {
  font-size: 55px;
  font-weight: 900;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  color: black;

  position: relative;
  top: -50px;  
}

.budget-text {
  font-size: 70px;
  font-style: italic;
  font-family: 'DM Serif Display', serif;
  color: #12c85a;
}

.money-text {
  color: #12c85a;
  font-style: italic;
  font-family: Georgia, serif;
  font-weight: 700;
}

.get-started-btn {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 12px;
  background: #12c85a;
  color: black;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
}

.signin-text {
  margin-top: 12px;
  font-size: 13px;
  color: #333;
}

.signin-text span {
  font-weight: 700;
}

@media (min-width: 768px) {
  .app {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
  }

  .phone-container {
    width: 390px;
    min-height: 844px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  }

  .top-section {
    height: 150px;
  }

  .logo-image {
    width: 220px;
  }

  .title {
    font-size: 42px;
  }
}