.bottom-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 78px;
  background: white;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  z-index: 20;
}

.bottom-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 78px;
  background: white;
  border-top: 1px solid #e5e5e5;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
}

.nav-btn {
  background: none;
  border: none;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  flex: 1;
}

.nav-icon-image {
  width: 120px;
  height: 120px;
  object-fit: contain;
  transform: scale(1.25);
}

.nav-btn:focus {
  outline: none;
}

.nav-btn:focus-visible {
  outline: none;
}

